body{
  background-color: #E3A186;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C2C26;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
<<<<<<< HEAD
    background-color: #ecc10f;
=======
    background-color: #9C4A29;
>>>>>>> 8cd983b847ccc403e0cd64dea176061bd40a4d3c
}
